global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout check 10s

frontend http_front_web
    bind *:80
    default_backend servers_web

backend servers_web
    balance roundrobin
    server web1 192.168.152.30:80 check
    server web2 192.168.152.32:80 check
    server web3 192.168.152.34:80 check
